<mat-vertical-stepper [linear]="false" #stepper>
  <mat-step>
    <ng-template matStepLabel>Fill out your personal information</ng-template>
    <personal-info-form
      (isFormSavingSuccess)="isPersonalFormValid.set($event)"
    ></personal-info-form>
    <div>
      <button mat-button matStepperNext class="stepper_next-button" [disabled]="!isPersonalFormValid()">
        Next
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Fill out your General information</ng-template>
    <resume-builder-form>
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </resume-builder-form>
      
      
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Select template for CV</ng-template>
    Here is your CV
    <div>
      <button matButton matStepperPrevious>Back</button>
      <button matButton (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
