.main-layout {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1.app-name {
  display: block;
  margin-left: 8px;
}

.main-nav__container {
  flex: 1;
}

.toolbar {
  justify-content: space-between;
}

.toolbar-left {
  display: flex;
  align-items: center;
}

.toolbar-right{
  display: flex;
  align-items: center;
}

.toolbar-right_email {
  font-size: small;
  line-height: 1rem;
}

.main-layout.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
  background-color: rgb(255, 254, 254) !important; 
}

.is-mobile .main-nav__container {
  flex: 1 0 auto;
}

.menu-toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    position: absolute;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 1;
    transform: scale(1);

    &--hidden {
      opacity: 0;
      transform: scale(0.7);
    }
  }
}


@media (max-width: 600px) {
  .toolbar {
    position: fixed;
    z-index: 2;
    background-color: rgb(255, 254, 254) !important;
  }

  .main-nav__container {
    flex: 1 0 auto;
    margin-top: 56px; 
  }

  mat-sidenav {
    position: fixed;
    top: 56px;
  }
}