@use "./fonts";
@use "@angular/material" as mat;

:root {
  --dark-color: #000000;
  --light-color: #ffffff;
  --primary-color: #275efe;
  --light-grey-color: #dedede;
  --grey-color: #b6b3b3;
  --error-color: #f44336;
  --app-field-radius: 8px;

  @include mat.toolbar-overrides(
    (
      container-background-color: transparent,
      container-text-color: black,
    )
  );
  @include mat.form-field-overrides(
    (
      outlined-outline-color: var(--primary-color),
      outlined-hover-outline-color: var(--dark-color),
      outlined-error-outline-color: var(--error-color),
      outlined-focus-outline-color: var(--dark-color),
      outlined-container-shape: 8px,
      container-height: 0.7rem,
      container-vertical-padding: 10px,
      container-text-weight: 100,
      container-text-line-height: 0.2rem,
      outlined-outline-width: 1px,
      outlined-focus-outline-width: 1px,
    )
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  color: var(--dark-color);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  transition: transform 0.2s ease, color 0.2s ease;
}

a:hover {
  color: var(--primary-color);
  transform: translateY(-3px);
}

img {
  max-width: 100%;
  display: block;
}

textarea {
  min-height: 3rem;
  resize: vertical;
}

.mat-mdc-select-panel {
  background: #fff !important;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: var(--dark-color);
}

.mat-mdc-option {
  border-bottom: 1px solid var(--light-grey-color);
}

.mat-mdc-select-panel .mat-mdc-option:last-child {
  border-bottom: none;
}

.mat-calendar,
.mat-calendar-content {
  background-color: #d2cfcf;
  border-radius: 8px;
  color: var(--dark-color);
}

.main-layout,
.main-layout ::-webkit-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.main-layout ::-webkit-scrollbar {
  display: none;
}

.mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-bottom-align::before {
  padding: 0 !important;
  margin: 0 !important;
  height: 0 !important;
}

.mat-mdc-form-field .mdc-floating-label:not(.mdc-floating-label--float-above) {
  transform: translateY(20%);
  text-align: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 0s ease-in-out 0s !important;
  caret-color: #000 !important;
}

@media (max-width: 768px) {
  form {
    padding: 1rem;
  }
}